.individual-project-container {
    display: flex;
    flex-direction: column;
    margin: 10px;
    background-color: pink;
    width: 70vw;
    padding: 5px;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 25px;
  }
  
  .project-title {
    font-size: 6vw;
    margin: 0px;
    margin-bottom: 5px;
  }
  
  .project-image {
    width: 60vw;
  }
  
  .project-links {
    text-decoration: none;
    color: white;
  }
  
  .project-highlights {
    margin: 0px
  }
  
  .project-description {
    font-size: 4vw;
    margin-top: 5px;
  }

  /* -----------------------------------------------------------DESKTOP STYLING----------------------------------------------------------- */
  @media only screen and (min-width: 1024px) {
    .individual-project-container {
      width: 40vw;
    }

    .project-image {
      width: 30vw;
    }

    .project-title {
      font-size: 3vw;
    }

    .project-description {
      font-size: 1vw;
      margin-top: 5px;
    }
  }