.contactPageContents {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 70vh;
}

.contact-text {
  padding: 0;
  margin: 0px 20px;
}

.disclaimer {
  margin: 10px 10px 15px 10px;
  text-align: center;
}

/* CONTACT FORM STYLING */
.contactForm {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

label {
  text-align: left;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin: 5px;
}

#submit-button {
  margin: 5px 0 20px 0;
  /* font-family: "Goblin One", serif; */
  text-shadow: 1px 1px #CF5C36;
  background-color: #f26bac;
  color: white;
  font-size: 20px;
  border: none;
  padding: 10px;
  border-radius: 25px;
}

#submit-button:hover {
  background-color: white;
  color: #f26bac;
  border: solid 1px black;
}

/* -----------------------------------------------------------DESKTOP STYLING----------------------------------------------------------- */
@media only screen and (min-width: 1024px) {
  /* CONTACT PAGE STYLING */
  .contactForm {
    margin:45px 30px 0 30px;
  }

  .disclaimer {
    margin: 30px 0;
  }

  #submit-button {
    width: 20vw;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 50px;
  }
}