.contactPageContents {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 70vh;
}

.contact-text {
  padding: 0;
  margin: 0px 20px;
}

.disclaimer {
  margin: 10px 10px 15px 10px;
  text-align: center;
}

/* CONTACT FORM STYLING */
.contactForm {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

label {
  text-align: left;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin: 5px;
}

#submit-button {
  margin: 5px;
  font-family: "Goblin One", serif;
  text-shadow: 1px 1px #CF5C36;
  background-color: pink;
  color: white;
  font-size: 20px;
  border: none;
  padding: 10px;
  border-radius: 25px;
}

#submit-button:hover {
  background-color: white;
  color: pink;
  border: solid 1px black;
}