.header-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.logo {
    height: 10vh;
    border: none;
}

img {
    border: none;
}
