/* #root { */
  /* max-width: 1280px; */
  /* margin: 0 auto; */
  /* padding: 2rem; */
  /* text-align: center; */
/* } */

html, body {
  margin: 0;
  padding: 0;
  border: 5px solid pink;
}

/* HOME PAGE STYLING */


/* ABOUT PAGE STYLING */
.about-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.headshot {
  height: 30vh;
}

/* SKILLS PAGE STYLING */
.skills-page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.resume-btn {
  margin: 20px;  
  font-family: "Goblin One", serif;
  text-shadow: 1px 1px #CF5C36;
  font-size: 20px;
  background-color: pink;
  color: white;
  border: none;
  padding: 10px;
    border-radius: 25px;
}

.resume-btn:hover {
  color: pink;
  background-color: white;
  border: solid 1px black;
}

